body{
    background: url(../images/funbg.jpg) no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
               
}

.container{

    opacity: .9;
}

.page-header{
    margin-left: 0;
    margin-right: 0;
    background: white;
    border-radius: 20px;
}

.category{
    color: green;
}

#ramword{
    font-size: 50px;
    text-align: center;
}

#userOutput{
    font-size: 30px;
    text-align: center;
}

li{
    list-style: none;
    display: inline-block
}

#attempts-left{
    font-size: 30px;
}

@media screen and (max-width: 550px){
    .page-header img{
        width: 100%;
    } 
}