.page-header{
    margin-left: 0;
    margin-right: 0;
}

.category{
    color: green;
}

#ramword{
    font-size: 50px;
    text-align: center;
}

#userOutput{
    font-size: 30px;
    text-align: center;
}

li{
    list-style: none;
    display: inline-block
}

@media screen and (max-width: 550px){
    .page-header img{
        width: 100%;
    } 
}